*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
}

.top__search{
    background : linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../assets/1302f131-6a12-4369-8b39-263ad413a11c.jpeg');
    height: 40rem;
    background-size:cover ;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    z-index: 10000;
}
.browse__business__container{
    margin-top: -6rem;
    position: relative;
    padding: 8rem 0 10rem;
    background-color: rgb(243, 243, 243);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    overflow: visible;
    z-index: -1;
}
.business__container{
    width: 18rem;
}
.business__container img{
    object-fit: cover;
}

.get__news__portion{
    position: absolute;
    width: 90%;
    bottom: 0;
    transform: translateY(50%);
}
.new__business__container{
    z-index: -2;
    margin-top: 10rem;

}