*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
}
body{
    background-color: #F0FFFF;
}
.search__business__container{
    background : linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../assets/1302f131-6a12-4369-8b39-263ad413a11c.jpeg');
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.browse__business__container{
    padding: 10rem 0 15rem;
    margin-top: -7rem;
    position: relative;
}

.get__news__container{
    position: absolute;
    bottom: 0;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%,50%);
    width: fit-content;
}
.new__business__container{
    padding: 15rem 0 15rem;
    z-index: -1;
    overflow: hidden;
}
footer{
    margin-top: -5rem;
    padding: 10rem 0 1rem;
    clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 100%);
    background-color: rgb(33, 35, 48);
}
.footer__list{
    list-style: none;
    line-height: 2rem;
    padding: 0;
}
.footer__list li{
    font-weight: 100;
}
/* 
.top__search{
    background : linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../assets/1302f131-6a12-4369-8b39-263ad413a11c.jpeg');
    height: 40rem;
    background-size:cover ;
    background-repeat: no-repeat;
    z-index: 10000;
}
.browse__business__container{
    margin-top: -6rem;
    position: relative;
    padding: 8rem 0 10rem;
    background-color: rgb(243, 243, 243);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    overflow: visible;
    z-index: -1;
}
.business__container{
    width: 18rem;
}
.business__container img{
    object-fit: cover;
}

.get__news__portion{
    position: absolute;
    width: 90%;
    bottom: 0;
    transform: translateY(50%);
}
.new__business__container{
    z-index: -2;
    margin-top: 10rem;

} */